###############################################################################
# Default
###############################################################################
* text=auto

###############################################################################
# C# / .NET files
###############################################################################
*.cs     text diff=csharp
*.csproj text
*.sln    text
*.razor  text
*.cshtml text
*.json   text
*.xml    text

###############################################################################
# Web files
###############################################################################
*.css    text
*.scss   text
*.js     text
*.ts     text
*.html   text

###############################################################################
# Binary files
###############################################################################
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.pdf    binary
*.mp4    binary
*.mp3    binary

###############################################################################
# Force line endings
###############################################################################
*.sh     text eol=lf
*.bat    text eol=crlf
